不支持ipv6 dns over https

### Platform

Linux

### Protocol

DNS-over-HTTPS

### Do you use AdGuard app?

No I don't

### Your configuration

dnsServer.Prepare: preparing upstream config: parsing upstreams: parsing error at index 7: cannot prepare the upstream: failed to parse https://2a10:50c0::2:ff/dns-query: parse "https://2a10:50c0::2:ff/dns-query": invalid port ":ff" after host

### Traceroute to AdGuard DNS

不支持 dns over https
 https://2a10:50c0::2:ff/dns-query
 https://2a10:50c0::1:ff/dns-query

### Issue Details

不支持 dns over https
 https://2a10:50c0::2:ff/dns-query
 https://2a10:50c0::1:ff/dns-query

### Expected Behavior

_No response_

### Actual Behavior

请支持 dns over https
 https://2a10:50c0::2:ff/dns-query
 https://2a10:50c0::1:ff/dns-query

### Screenshots

<details><summary>Screenshot 1:</summary>
<!-- paste screenshot here -->
</details>


### Additional Information

_No response_

@Potterli20, hello.  As per [RFC 3986 Section 3.2.2](https://datatracker.ietf.org/doc/html/rfc3986#section-3.2.2):

> A host identified by an Internet Protocol literal address, version 6 [RFC3513](https://datatracker.ietf.org/doc/html/rfc3513) or later, is distinguished by enclosing the IP literal within square brackets ("[" and "]").

So it's necessary to decorate IPv6 within the URI with square brackets, even though it sometimes works without them.  See also the Go team's related [comment](https://github.com/golang/go/issues/12200#issuecomment-162015851).